
#-------------------------
# Temporary Files
#-------------------------
writable/cache/*
!writable/cache/index.html

writable/logs/*
!writable/logs/index.html

writable/session/*
!writable/session/index.html

writable/uploads/*
!writable/uploads/index.html

writable/debugbar/*

php_errors.log


#-------------------------
# Composer
#-------------------------
vendor/

#-------------------------
# Node Package Manager
#-------------------------
node_modules/

public/javascript/